<ng-container  >
  <div class="dresscode-one">
    <img class="d-block d-sm-none" src="/assets/images/mobile/dress1.png" alt="">
  </div>
  <div class="dresscode-two">
    <img class="d-block d-sm-none" src="/assets/images/mobile/dress2.png" alt="">
  </div>
  <div class="dresscode-three">
    <img class="d-block d-sm-none" src="/assets/images/mobile/dress3.png" alt="">    
  </div>

</ng-container>
