<ng-container *ngIf="!formIsShown">
  <div class="section-1">
    <div class="mobile-section">
      <img src="/assets/images/mobile/yaramou_mobile-Final_01.jpg" />
    </div>
    <div class="starline-1">
        <img class="mobile" src="/assets/images/animations/Stars-on-Arch-Section-2-mobile.png" />
        <!-- <img class="web" src="/assets/images/animations/Stars-on-Arch-Section-1-Web.png" /> -->
    </div>
    <div class="starline-2">
        <img class="mobile" src="/assets/images/animations/Stars-on-Arch-Section-1-mobile2.png" />
        <!-- <img class="web" src="/assets/images/animations/Stars-on-Arch-Section-2-Web.png" /> -->
    </div>
    <!-- <div class="star-one animated-div">
      <img src="/assets/images/animations/stars on arch.png" />
    </div> -->
    <!-- <div class="star-two animated-div"></div>  -->
    <div class="beauty-stars-1 animated-div"></div>
    <div class="beauty-stars-2 animated-div"></div>
    <div class="beauty-stars-3 animated-div"></div>

  </div>
  <div id="home-letter" class="section-2">
    <div class="mobile-section">
      <img src="/assets/images/mobile/yaramou_mobile-Final_02.jpg" />
    </div>
    <div class="home-letter-cloud animated-div"></div>
    <div class="home-letter-cloud-left animated-div"></div>
    <div class="beauty-stars-1 animated-div"></div>
    <div class="beauty-stars-2 animated-div"></div>
    <div class="beauty-stars-3 animated-div"></div>
    <div class="test-star">
        <!-- <img class="web" src="/assets/images/animations/Stars-Section-2-Web.gif" /> -->
        <img class="mobile" src="/assets/images/animations/Stars-Section-2-Web_MOB.gif" />
    </div>
    <!-- <div class="story-star animated-div"></div>  -->
  </div>
  <div id="first-day" class="section-3">
    <div class="mobile-section">
      <img src="/assets/images/mobile/yaramou_mobile-Final_03.jpg" />
    </div>
    <div class="skylight-cloud animated-div"></div>
    <div class="skylight-cloud-2 animated-div"></div>
    <div class="beauty-stars-1 animated-div"></div>
    <div class="beauty-stars-2 animated-div"></div>
    <div class="beauty-stars-3 animated-div"></div>
    <div class="test-sun ">
      <!-- <img   class="web" src="/assets/images/animations/SUN-ANIMATE.gif" /> -->
      <img   class="mobile" src="/assets/images/animations/SUN-ANIMATE_MOB.gif" />
    </div>
    <!-- Force Push -->
  </div>
  <!-- <img class="animation-1" src="/assets/images/animations/story stars.png"> -->

  <div id="second-day" class="section-4">
    <div class="mobile-section">
      <img src="/assets/images/mobile/yaramou_mobile-Final_04.jpg" />
    </div>
    <div class="golden-cloud animated-div"></div>
    <div class="golden-cloud-2 animated-div"></div>
    <div class="beauty-stars-1 animated-div"></div>
    <div class="beauty-stars-2 animated-div"></div>
    <div class="beauty-stars-3 animated-div"></div>
    <div class="golden-glass-lt animated-div"></div>
    <div class="golden-glass-lb animated-div"></div>
    <div class="golden-glass-rt animated-div"></div>
    <div class="golden-glass-rb animated-div"></div>
  </div>
  <div id="logs" class="section-5">
    <div class="mobile-section">
      <img src="/assets/images/mobile/yaramou_mobile-Final_05.jpg" />
    </div>
    <div class="logistics-sun-right animated-div"></div>
    <div class="logistics-sun-left animated-div"></div>
    <div class="beauty-stars-1 animated-div"></div>
    <div class="beauty-stars-2 animated-div"></div>
    <div class="beauty-stars-3 animated-div"></div>
    <a href="mailto:liliane.a@easttravelegypt.com?subject=yaramou" class="logistics_email1"></a>
    <a href="mailto:andre.p@senyartourism.com.com?subject=yaramou" class="logistics_email2"></a>
    <div class="logistics-cloud animated-div"></div>
    <div class="logistics-airplane animated-div"></div>
  </div>

  <div id="" class="section-6">
    <div class="mobile-section">
      <img src="/assets/images/mobile/yaramou_mobile-Final_06.jpg" />
    </div>
    <div class="hotel-cloud animated-div"></div>
    <div class="hotel-cloud-2 animated-div"></div>
    <a href="mailto:banquet@grandresort.gr?subject=yaramou" class="hotel_email1"></a>
    <a href="mailto:serkarapian@gmail.com?subject=yaramou" class="hotel_email2"></a>
  </div>

  <!-- new added -->
  <div id="beauty" class="section-7">
    <div class="mobile-section">
      <img src="/assets/images/mobile/yaramou_mobile-Final_07.jpg" />
    </div>
    <div class="beauty-stars-1 animated-div"></div>
    <div class="beauty-stars-2 animated-div"></div>
    <div class="beauty-stars-3 animated-div"></div>
    <div class="beauty-moon-right animated-div"></div>
    <div class="beauty-sun-left animated-div"></div>
    <a href="mailto:banquet@grandresort.gr?subject=yaramou" class="beauty_email1"></a>
  </div>

  <div id="to-do" class="section-8">
    <div class="mobile-section">
      <img src="/assets/images/mobile/yaramou_mobile-Final_08.jpg" />
    </div>
    <div class="to-do-cloud-left animated-div"></div>
    <div class="to-do-cloud-right animated-div"></div>
    <div class="to-do-shooting-star-1 animated-div"></div>
    <div class="to-do-shooting-star-2 animated-div"></div>
    <div class="to-do-shooting-star-3 animated-div"></div>
    <div class="beauty-stars-1 animated-div"></div>
    <div class="beauty-stars-2 animated-div"></div>
    <div class="beauty-stars-3 animated-div"></div>
    <div class="to-do-stars-1 animated-div"></div>
    <div class="to-do-stars-2 animated-div"></div>
    <div class="to-do-stars-3 animated-div"></div>
    <a href="mailto:laura@topnotchtravellers.com?subject=yaramou" class="to_do_email1"></a>
  </div>
  <div id="section-9" class="section-9" (click)="showForm()">
    <div class="mobile-section">
      <img src="/assets/images/mobile/yaramou_mobile-Final_09.jpg" />
    </div>
  </div>
</ng-container>

<div class="formTab" *ngIf="formIsShown">
  <div class="home-image d-flex justify-content-around">
    <div class="home-container d-flex  col-xs-12 col-md-8 col-lg-5">
      <div class="container-fluid">
        <div class="rsvp">
          R S V P
          <div style="float:right">
            <a (click)="hideForm()" class="x-mark">
              <img src="/assets/images/Close button.png" width="30" />
            </a>
          </div>
          <div class="clearfix"></div>
        </div>
        <hr class="line" />
        <form novalidate="" class="form theme-form " (ngSubmit)="onSubmit()" [formGroup]="form" *ngIf="!formFinish">
          <div class="justify-content-around">
            <div class="row">
              <div class="col">
              <label class="mb-0" for="name">NAME</label>
              <input name="name" type="text" class="form-control grey" formControlName="name" [ngClass]="{
                    'is-invalid': formSubmitted && f.name.invalid,
                    'is-valid': formSubmitted && !f.name.invalid
                  }" />
              <div *ngIf="
                    formSubmitted && (f.name.invalid || f.name.errors?.required)
                  " class="help-block mt-1 text-danger">
                <i class="ft-alert-circle align-middle"></i> Please write a
                valid name.
              </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label class="mb-0" for="email">EMAIL</label>
                <input name="email" type="text" class="form-control grey" formControlName="email" [ngClass]="{
                  'is-invalid': formSubmitted && f.email.invalid,
                  'is-valid': formSubmitted && !f.email.invalid
                }" />
                <div *ngIf="
                  formSubmitted &&
                  (f.email.invalid || f.email.errors?.required)
                " class="help-block mt-1 text-danger">
                  <i class="ft-alert-circle align-middle"></i> Please write a
                  valid email.
                </div>
              </div>

              <div class="col-md-6">
                <label class="mb-0" for="name">Mobile Number</label>
                <input name="mobile" type="text" class="form-control grey" formControlName="mobile" [ngClass]="{
                    'is-invalid': formSubmitted && f.mobile.invalid,
                    'is-valid': formSubmitted && !f.mobile.invalid
                  }" />
                <div *ngIf="
                    formSubmitted && (f.mobile.invalid || f.mobile.errors?.required)
                  " class="help-block mt-1 text-danger">
                  <i class="ft-alert-circle align-middle"></i> Please write a
                  valid mobile number.
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <label class="mb-0" for="checkIn">Arrival Date</label>
                <input name="checkIn" type="date" class="form-control grey" formControlName="checkIn" [ngClass]="{
                    'is-invalid':
                      formSubmitted && (f.checkIn.invalid || incorrectDates),
                    'is-valid':
                      formSubmitted && !f.checkIn.invalid && !incorrectDates
                  }" />
                <div *ngIf="
                    formSubmitted &&
                    (f.checkIn.invalid ||
                      f.checkIn.errors?.required ||
                      incorrectDates)
                  " class="help-block mt-1 text-danger">
                  <i class="ft-alert-circle align-middle"></i> Please choose
                  your arrival date
                </div>
              </div>
              <div class="col-md-6">
                <label class="mb-0" for="checkOut">Departure date</label>
                <input name="checkOut" type="date" class="form-control grey" formControlName="checkOut" [ngClass]="{
                    'is-invalid':
                      formSubmitted && (f.checkOut.invalid || incorrectDates),
                    'is-valid':
                      formSubmitted && !f.checkOut.invalid && !incorrectDates
                  }" />
                <div *ngIf="
                    formSubmitted &&
                    (f.checkOut.invalid || f.checkOut.errors?.required)
                  " class="help-block mt-1 text-danger">
                  <i class="ft-alert-circle align-middle"></i> Please choose
                  your departure date.
                </div>
              </div>
            </div>
          </div>

          <p class="mt-4 mb-0 ">number of rooms</p>
          <div class="d-flex flex-column col-xs-12">
            <div>
              <input formControlName="rooms" id="one_room" name="rooms" class="mr-2" type="radio" value="1" />
              <label for="one_room">one Room </label>
            </div>
            <div>
              <input formControlName="rooms" id="two_rooms" name="rooms" class="mr-2" type="radio" value="2" />
              <label for="two_rooms">two rooms</label>
            </div>
          </div>

          <div class="data" formArrayName="guests" *ngFor="let controls of childs.controls; let i = index">
            <div class="form-group" [formGroupName]="i">
              <div class="row justify-content-around">
                <hr class="thin-line" />
                <div class="col-md-6">
                  <label class="mb-0" for="name_{{ i }}">NAME</label>
                  <input id="name_{{ i }}" type="text" class="form-control grey" formControlName="name" [ngClass]="{
                      'is-invalid': formSubmitted && controls.invalid,
                      'is-valid': formSubmitted && !controls.invalid
                    }" />
                </div>

                <div class="col-md-6">
                  <label class="mb-0" for="email_{{ i }}">EMAIL <small>(Optional)</small></label>
                  <input id="email_{{ i }}" type="text" class="form-control grey" formControlName="email" [ngClass]="{
                      'is-valid': formSubmitted
                    }" />
                </div>
              </div>
            </div>
          </div>
          <div class="add-family mt-3" *ngIf="count < 3">
            <p (click)="addForm()">ADD FAMILY MEMBER/ SIGNIFICANT OTHER</p>
          </div>
          <p class="mt-3-md">
            <span class="message">LEAVE A MESSAGE <small>(Optional)</small></span>
          </p>
          <textarea rows="5" cols="60" formControlName="message" class="text-area" name="messageArea"></textarea>

          <div class="row mb-4" *ngIf="formDone">
            <div class="col">
              <div class="text-center bg-success p-2">
                <span style="color:#FFF">Data Has been Saved successfully</span>
              </div>
            </div>
          </div>

          <div class="button-container" *ngIf="loading">
            <img class="my-5" src="/assets/images/loading.png" alt="" />
          </div>

          <div class="button-container" *ngIf="!loading">
            <a (click)="onSubmit()" style="cursor:pointer">
              <img class="my-5" src="/assets/images/Confirm Button.png" id="confirm" alt="Confirm" />
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
