html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

@font-face {
  font-family: carent;
  src: url(assets/fonts/Carentro.otf);
  font-weight: bold;
}

* {
  font-family: carent;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  scroll-behavior: smooth;
}

.section-1 {
  background-image: url("/assets/images/yaramou_web-Final-no-animation_02.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 114vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  position: relative;
}
.section-2 {
  background-image: url("/assets/images/yaramou_web-Final-no-animation_04.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 114vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  position: relative;
}
.section-3 {
  background-image: url("/assets/images/yaramou_web-Final-no-animation_05.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 114vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  position: relative;
}
.section-4 {
  background-image: url("/assets/images/yaramou_web-Final-no-animation_06.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 114vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  position: relative;
}
.section-5 {
  background-image: url("/assets/images/yaramou_web-Final-no-animation_07.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 114vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  position: relative;
}
.section-6 {
  background-image: url("/assets/images/yaramou_web-Final-no-animation_08.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 114vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  position: relative;
}
.section-7 {
  background-image: url("/assets/images/yaramou_web-Final-no-animation_10.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 114vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  position: relative;
}
.section-8 {
  background-image: url("/assets/images/yaramou_web-Final-no-animation_11.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 225vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  position: relative;
}
.section-9 {
  background-image: url("/assets/images/yaramou_web-Final-no-animation_12.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 44vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  position: relative;
  cursor: pointer;
}


.dresscode-one{
  background-image: url("/assets/images/dress1.png");
  height: 130vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.dresscode-two{
  background-image: url("/assets/images/dress2.png");
  height: 130vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.dresscode-three{
  background-image: url("/assets/images/dress3.png");
  height: 130vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.section-1 .next,
.section-3 .next,
.section-4 .next,
.third-day .next,
.section-5 .next,
.luxor .next {
  position: absolute;
  left: 50%;
  margin-left: -15px;
  bottom: 5px;
  cursor: pointer;
  z-index: 9999;
}
.section-3 .dresscode{
  position: absolute;
  bottom: 122px;
  left: 50%;
  margin-left: -65px;
  z-index: 99999;
}
.form-btn {
  position: absolute;
  left: 50%;
  margin-left: -93px;
  bottom: 75px;
  cursor: pointer;
}
.text {
  display: none;
}
.section-1 .text {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.section-2 .text {
  position: absolute;
  top: 43%;
  right: 50%;
  transform: translate(50%, -50%);
}
.section-3 .text {
  position: absolute;
  top: 48%;
  right: 50%;
  transform: translate(50%, -50%);
}
.section-4 .text {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.third-day .text {
  position: absolute;
  top: 26%;
  right: 50%;
  transform: translate(50%, -50%);
}
.section-5 .text {
  position: absolute;
  top: 64%;
  right: 50%;
  transform: translate(50%, -50%);
}
.luxor .text {
  position: absolute;
  top: 26%;
  right: 50%;
  transform: translate(50%, -50%);
}
.section-6 .text {
  position: absolute;
  top: 51%;
  right: 50%;
  transform: translate(50%, -50%);
}

.rsvp {
  color: #b3a081;
  text-align: center;
  margin-top: 5%;
  font-size: 30px;
}

.home-container {
  background-color: #ffffff;
}

.x-mark {
  font-size: 25px;
  cursor: pointer;
}
.x-mark:hover {
  cursor: pointer;
}

.line {
  width: 100%;
  border: 3px solid #b3a081;
  background-color: #b3a081;
}
.thin-line {
  width: 100%;
  border: 1px solid #b3a081;
  background-color: #b3a081;
}

.add-family > p {
  color: #b3a081;
  text-decoration: underline;
}
.add-family:hover {
  cursor: pointer;
}
.message {
  font-size: 20px;
}

.text-area {
  border: transparent;
  width: 100%;
  height: 110px;
  background-color: #edebeb;
}

.button-container {
  display: flex;
  justify-content: center;
}

label,
p {
  color: #324a66;
}

// c2bbbc - opacity 30%
input.grey {
  background-color: #edebeb;
}

@media only screen and (max-width: 450px) {
  label {
    font-size: 10px;
  }

  .text-area {
    height: 70px;
  }

  .message {
    font-size: 12px;
  }

  .add-family {
    font-size: 10px;
  }

  #confirm {
    width: 35vw;
  }

  .line {
    border-width: 2px;
  }

  .rsvp {
    font-size: 25px;
  }
  .home-letter-cloud{
    background-size: contain;
    width: 100% !important;
    height: 50% !important;
    animation: animateh-cloud-r-mini 30s infinite !important;
  }
  .home-letter-cloud-left{
    background-size: contain;
    width: 100% !important;
    height: 50% !important;
  }
  .skylight-cloud{
    background-size: contain;
    width: 100% !important;
    height: 50% !important;
  }
  .skylight-cloud-2{
    background-size: contain;
    width: 100% !important;
    height: 50% !important;
  }
  .to-do-cloud-left{
    background-size: contain;
    width: 100% !important;
    height: 50% !important;
  }
  .to-do-cloud-right{
    background-size: contain;
    width: 100% !important;
    height: 50% !important;
  }


}

.mobile-section{
  display: none;
}
.mobile{
  display: none;
}
.web{
  display: block;
}
@media only screen and (max-width: 1024px) {
  // .section-2,.third-day,.section-4,.section-3
  // {
  //   height: 100vh;
  // }
  // .home-image{
  //   height: 120vh;
  // }

  .to-do-stars-1 , .to-do-stars-2 , .to-do-stars-3{
    top: 20% !important;
  }
  .mobile{
    display: block;
  }
  .web{
    display: none;
  }
  .text {
    display: block;
    z-index: 999;
  }
  .mobile-section{
    display: block;
    position: relative;
    width:100%;
    height: auto;
    z-index: 9;
  }
  .mobile-section img{
    width: 100%;
    height: 100%;
  }
  // .section-1 {
  //   background-image: url("/assets/images/mobile/yaramou_mobile-Final_01.jpg"); /* The image used */
  // }
  // .section-2 {
  //   background-image: url("/assets/images/mobile/yaramou_mobile-Final_02.jpg"); /* The image used */
  // }
  // .section-3 {
  //   background-image: url("/assets/images/mobile/yaramou_mobile-Final_03.jpg"); /* The image used */
  // }
  // .section-4 {
  //   background-image: url("/assets/images/mobile/yaramou_mobile-Final_04.jpg"); /* The image used */
  // }
  // .section-5 {
  //   background-image: url("/assets/images/mobile/yaramou_mobile-Final_05.jpg"); /* The image used */
  // }
  // .section-6 {
  //   background-image: url("/assets/images/mobile/yaramou_mobile-Final_06.jpg"); /* The image used */
  // }
  // .section-7 {
  //   background-image: url("/assets/images/mobile/yaramou_mobile-Final_07.jpg"); /* The image used */
  // }
  // .section-8 {
  //   background-image: url("/assets/images/mobile/yaramou_mobile-Final_08.jpg"); /* The image used */
  // }
  // .section-9 {
  //   background-image: url("/assets/images/mobile/yaramou_mobile-Final_09.jpg"); /* The image used */
  //   height: 38vh;
  // }
  .section-1,
  .section-2,
  .section-3,
   .section-4,
   .section-5,
   .section-6,
   .section-7,
   .section-8,
   .section-9
    {
    width:100%;
    height: auto;
    background-image: none;
  }
  .section-2 {
    //background-image: url("/assets/images/mobile/yaramou_mobile-Final_02.jpg"); /* The image used */
  }
  .section-3 {
    //background-image: url("/assets/images/mobile/yaramou_mobile-Final_03.jpg"); /* The image used */
  }
  .section-4 {
    //background-image: url("/assets/images/mobile/yaramou_mobile-Final_04.jpg"); /* The image used */
  }
  .section-5 {
    //background-image: url("/assets/images/mobile/yaramou_mobile-Final_05.jpg"); /* The image used */
  }
  .section-6 {
    //background-image: url("/assets/images/mobile/yaramou_mobile-Final_06.jpg"); /* The image used */
  }
  .section-7 {
    //background-image: url("/assets/images/mobile/yaramou_mobile-Final_07.jpg"); /* The image used */
  }
  .section-8 {
    //background-image: url("/assets/images/mobile/yaramou_mobile-Final_08.jpg"); /* The image used */
  }
  .section-9 {
    //background-image: url("/assets/images/mobile/yaramou_mobile-Final_09.jpg"); /* The image used */
    //height: 38vh;
  }


  .logistics-sun-right{
    background-image: none !important ;
  }
  .logistics-sun-left{
    background-image: none !important ;
  }
  .story-star{
  left: -50% !important ;
  }
  .golden-glass-lt{
  background-image: none !important;
  }
.golden-glass-lb{
  background-size: contain;
  width: 100px !important;
  left: 5% !important ;
}
.golden-glass-rb{
  background-image: none !important;
}
.golden-glass-rt{
  background-size: contain !important;
  width: 100px !important;
  left: 70% !important;
}
.beauty-moon-right{
  background-image: none !important;
}
.beauty-sun-left{
  background-image: none !important;
}
.to-do-shooting-star-1 , .to-do-shooting-star-2 , .to-do-shooting-star-3{
  opacity: 0.5 !important;
}
.to-do-shooting-star-1{
  // top: 11% !important;
  // left: 20% !important;
  animation: fly_shot1_mobile 6s infinite !important;  
}
.to-do-shooting-star-3{
  // left: 40%!important;
  // top: 20%!important;
  animation: fly_shot3_mobile 6s infinite !important;  
}
@keyframes fly_shot3_mobile {
  0%   {left: 0;top: 10%;}
  100% {left: 90%;top: 90%;}
}
@keyframes fly_shot1_mobile {
  0%   {left: 100%;top: 5%;}
  100% {left: -50%;top: 50%;}
}


.to-do-cloud-right{
  // width: 50% !important;
  height: 50% !important;
  right: 30% !important;
}
.story-star{
  top: 20% !important;
  left: 0 !important;
  width: 100% !important;
  height: 100%  !important;
}
  .dresscode-one,.dresscode-two,.dresscode-three {
    background-image: none;
    height: auto;
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: inherit;
    position: relative;
  }


  .section-1,
  .section-2,
  .section-3,
  .section-4,
  .third-day,
  .section-5,
  .section-6,
  .section-7 {
    // height: 78vh;
  }
  .section-8{
    // height: 144vh;
  }
  .boat-one{
      margin-left: -424px !important;
      margin-top: -203px !important;
  }
  .boat-two{
    margin-left: 40px !important;
    margin-top: 118px !important;
  }
  .boat-three,
  .beauty-1,.beauty-2
  {
    display:none;
  }
  .pink-bird{
    margin-left: 106px !important;
    margin-top: -265px !important ;
  }
  .bubble-1{
    margin-top: 264px !important;
  }
  .hotair-1{
    margin-left: 196px !important;
    margin-top: -118px !important;
  }
  .hotair-2{
    margin-left: -136px !important;
    margin-top: -373px !important;
  }
  .beauty-3{
    margin-left: 58px !important;
    margin-top: 96px !important;
  }
  .section-3 .dresscode{
    bottom : 46px;
  }
  .home-letter-cloud{
    background-size: contain;
    width: 80% !important;
    height: 50% !important;
    animation: animateh-cloud-r-mini 30s infinite !important;
  }
  .home-letter-cloud-left{
    background-size: contain;
    width: 80% !important;
    height: 50% !important;
  }
  .skylight-cloud{
    background-size: contain;
    width: 80% !important;
    height: 50% !important;
  }
  .skylight-cloud-2{
    background-size: contain;
    width: 80% !important;
    height: 50% !important;
  }
  .to-do-cloud-left{
    background-size: contain;
    width: 80% !important;
    height: 50% !important;
  }
  .to-do-cloud-right{
    background-size: contain;
    width: 80% !important;
    height: 50% !important;
  }
  .logistics-airplane{
    background-size: contain;
    width: 180px !important;
  }

}

.my-5{
  width: 120px;
}

/*Animations*/
.animated-div {
  position: absolute;
  z-index: 99;
  opacity: 0.8;
}

.star-one {
  top: 80px;
  left: 50%;
  width: 100%;
  height: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  // -webkit-animation: fadeIn 2s infinite;
  // animation: fadeIn 2s infinite;
}
.star-two {
  background-image: url("/assets/images/animations/stars on arch 2.png");
  position:absolute;
  z-index: -1;
  top: 147px;
  left: 50%;
  width: 2275px;
  height: 561px;
  margin-left: -1137.5px;
  -webkit-animation: fadeInInverted 2s infinite;
  animation: fadeInInverted 2s infinite;
}
.story-star{
  background-image: url("/assets/images/animations/story stars.png");
  background-size: contain;
  left: calc(50% - 300px);
  top:13%;
  width: 600px;
  height: 600px;
  background-repeat: no-repeat;
  animation: fadeInInverted 2s infinite;
}
.home-letter-cloud{
  background-image: url("/assets/images/animations/beauty cloud.png");
  right:0;
  top: 10%;
  width: 1734px;
  height: 785px;
  margin-left: 432px;
  background-repeat: no-repeat;
  animation: animateh-cloud-r 60s infinite;
}
.home-letter-cloud-left{
  background-image: url("/assets/images/animations/beauty cloud.png");
  left:60%;
  top: 10%;
  width: 1734px;
  height: 785px;
  margin-left: 432px;
  background-repeat: no-repeat;
  animation: animateh-cloud-l 20s infinite;
}
.skylight-cloud{
  background-image: url("/assets/images/animations/beauty cloud.png");
  left: 70%;
  top: 50%;
  width: 1734px;
  height: 785px;
  margin-left: 432px;
  background-repeat: no-repeat;
  animation: animateh-cloud-r 20s infinite;
}
.skylight-cloud-2{
  background-image: url("/assets/images/animations/beauty cloud.png");
  left: 0;
  top: 30%;
  width: 1734px;
  height: 785px;
  margin-left: 432px;
  background-repeat: no-repeat;
  animation: animateh-cloud-l 20s infinite;
}
.golden-cloud{
  background-image: url("/assets/images/animations/golden hour clouds.png");
  left: 80%;
  top: 20%;
  width: 1734px;
  height: 785px;
  margin-left: 800px;
  background-repeat: no-repeat;
  animation: animateh-cloud-r 40s infinite;
}
.golden-cloud-2{
  background-image: url("/assets/images/animations/golden hour clouds.png");
  right: 80%;
  top: 60%;
  width: 1734px;
  height: 785px;
  margin-left: 800px;
  background-repeat: no-repeat;
  animation: animateh-cloud-l 40s infinite;
}
.golden-glass-lt{
  background-image: url("/assets/images/animations/Cocktail Glass 2.png");
  background-repeat: no-repeat;
  left: 5%;
  top: 28%;
  width: 155px;
  height: 302px;
  transform-origin: center;
  -webkit-animation: animatev 5s infinite;
  animation: animatev 5s infinite;
}
.golden-glass-lb{
  background-image: url("/assets/images/animations/Cocktail Glass 1.png");
  background-repeat: no-repeat;
  left: 15%;
  top: 10%;
  width: 180px;
  height: 303px;
  transform-origin: center;
  -webkit-animation: animatev_r 5s infinite;
  animation: animatev_r 5s infinite ;
}
.golden-glass-rt{
  background-image: url("/assets/images/animations/Cocktail Glass 4.png");
  background-repeat: no-repeat;
  left: 78%;
  top: 30%;
  width: 178px;
  height: 382px;
  transform-origin: center;
  -webkit-animation: animatev 5s infinite;
  animation: animatev 5s infinite ;
}
.golden-glass-rb{
  background-image: url("/assets/images/animations/Cocktail Glass 3.png");
  background-repeat: no-repeat;
  left: 87%;
  top: 15%;
  width: 174px;
  height: 295px;
  transform-origin: center;
  -webkit-animation: animatev_r 5s infinite;
  animation: animatev_r 5s infinite ;
}

.logistics-cloud{
  background-image: url("/assets/images/animations/logistics cloud.png");
  left: 90%;
  width: 100%;
  height: 100%;
  margin-left: 750px;
  background-repeat: no-repeat;
  animation: animateh-cloud-r 20s infinite;
}
.logistics-sun-right{
  background-image: url("/assets/images/animations/Mini Logistics Sun.png");
  background-size: contain;
  right: -45%;
  top: 15%;
  width: 600px;
  height: 600px;
  background-repeat: no-repeat;
  animation: animateh 5s infinite;
}
.logistics-sun-left{
  background-image: url("/assets/images/animations/Mini Logistics Sun.png");
  background-size: contain;
  left: -45%;
  top: 15%;
  width: 600px;
  height: 600px;
  background-repeat: no-repeat;
  animation: animateh_r 5s infinite;
}
.logistics_email1{
  background-color: transparent;
  top: 50%;
  left: 10%;
  position:absolute;
  z-index: 99;
  width: 80%;
  height: 20%;
  // border: 2px black solid;
}
.logistics_email2{
  background-color: transparent;
  top: 72%;
  left: 10%;
  position:absolute;
  z-index: 99;
  width: 80%;
  height: 20%;
  // border: 2px black solid;
}
.beauty_email1{
  background-color: transparent;
  top: 40%;
  left: 10%;
  position:absolute;
  z-index: 99;
  width: 80%;
  height: 20%;
  // border: 2px black solid;
}
.to_do_email1{
  background-color: transparent;
  top: 10%;
  left: 10%;
  position:absolute;
  z-index: 99;
  width: 80%;
  height: 20%;
  // border: 2px black solid;
}
/*Forcing Push*/
/*Web*/
.test-sun,.test-star,.starline-1,.starline-2{
  position: absolute;
  top:0px;
  left:0px;
  z-index: 999;
  width:100%;
  height: 114vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.test-sun{
  background-image: url("/assets/images/animations/SUN-ANIMATE.gif");
}
.test-star{
  background-image: url("/assets/images/animations/Stars-Section-2-Web.gif");
}
.starline-1{
  background-image: url("/assets/images/animations/Stars-on-Arch-Section-1-Web.png");
}
.starline-2{
  background-image: url("/assets/images/animations/Stars-on-Arch-Section-2-Web.png");
}


/*For Both Mobile,Web*/
.starline-1{
  animation: fadeIn 2s infinite;
}
.starline-2{
  animation: fadeInInverted 2s infinite;
}


@media only screen and (max-width: 1024px) {
  /*Mobile*/
  .test-sun,.test-star,.starline-1,.starline-2{
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-image:none;
  }
  .test-sun img,.test-star img,.starline-1 img,.starline-2 img{
    width:100%;
  }
  .golden-glass-rt{
    top:68%
  }
}

@keyframes fly {
  0%   {left:-45%;top: 100%;}
  100% {left: 110%;top: -10%;}
}

.logistics-airplane{
  background-image: url("/assets/images/animations/Logistics Airplane.png");
  left: -10%;
  top: 110%;
  width: 281px;
  height: 115px;
  background-repeat: no-repeat;
  animation-name: fly;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in
}

.hotel-cloud{
  background-image: url("/assets/images/animations/Hotel Clouds.png");
  left: 95%;
  top: 45%;
  width: 1149px;
  height: 488px;
  background-repeat: no-repeat;
  opacity: 0.5;
  animation: animateh-cloud-r 20s infinite;
}
.hotel-cloud-2{
  background-image: url("/assets/images/animations/Hotel Clouds.png");
  left: -80%;
  top: 5%;
  width: 1149px;
  height: 488px;
  background-repeat: no-repeat;
  animation: animateh-cloud-l 40s infinite;
  opacity: 0.5;
}
.hotel_email1{
  background-color: transparent;
  top: 22%;
  left: 10%;
  position:absolute;
  z-index: 99;
  width: 80%;
  height: 20%;
  // border: 2px black solid;
}
.hotel_email2{
  background-color: transparent;
  top: 60%;
  left: 10%;
  position:absolute;
  z-index: 99;
  width: 80%;
  height: 20%;
  // border: 2px black solid;
}

.beauty-moon-right{
  background-image: url("/assets/images/animations/Beauty Moon.png");
  right: -15%;
  top: 21%;
  width: 264px;
  height: 641px;
  background-repeat: no-repeat;
  animation: animateh 5s infinite ;
}
.beauty-sun-left{
  background-image: url("/assets/images/animations/Beauty Sun.png");
  left: -15%;
  top: 11%;
  width: 245px;
  height: 717px;
  background-repeat: no-repeat;
  animation: animateh_r 5s infinite;
}
.beauty-stars-1{
  background-image: url("/assets/images/animations/beauty stars.png");
  left: 3%;
  top: 8%;
  width: 606px;
  height: 754px;
  // margin-left: -432px;
  transform-origin: center;
  background-repeat: no-repeat;
  animation: fadeInInverted 2s infinite;
}
.beauty-stars-2{
  background-image: url("/assets/images/animations/beauty stars.png");
  left: 31%;
  top: 8%;
  width: 606px;
  height: 754px;
  // margin-left: -432px;
  transform-origin: center;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  animation: fadeInInverted 2s infinite;
}
.beauty-stars-3{
  background-image: url("/assets/images/animations/beauty stars.png");
  left: 56%;
  top: 8%;
  width: 606px;
  height: 754px;
  // margin-left: -432px;
  transform-origin: center;
  background-repeat: no-repeat;
  transform: rotate(90deg);
  animation: fadeInInverted 2s infinite;
}

.to-do-stars-1{
  background-image: url("/assets/images/animations/beauty stars.png");
  left: 3%;
  top: 50%;
  width: 606px;
  height: 754px;
  // margin-left: -432px;
  transform-origin: center;
  background-repeat: no-repeat;
  animation: fadeInInverted 65s infinite;
}
.to-do-stars-2{
  background-image: url("/assets/images/animations/beauty stars.png");
  left: 35%;
  top: 50%;
  width: 606px;
  height: 754px;
  // margin-left: -432px;
  transform-origin: center;
  background-repeat: no-repeat;
  animation: fadeIn 65s infinite;
}
.to-do-stars-3{
  background-image: url("/assets/images/animations/beauty stars.png");
  left: 72%;
  top: 56%;
  width: 606px;
  height: 754px;
  // margin-left: -432px;
  transform-origin: center;
  background-repeat: no-repeat;
  animation: fadeInInverted 65s infinite;
}

.to-do-cloud-left{
  background-image: url("/assets/images/animations/Things to do cloud.png");
  left: 10%;
  top: 5%;
  width: 859px;
  height: 836px;
  background-repeat: no-repeat;
  animation: animateh 20s infinite;
}
.to-do-cloud-right{
  background-image: url("/assets/images/animations/Things to do cloud 2.png");
  right: -10%;
  top: 20%;
  width: 1426px;
  height: 1285px;
  background-repeat: no-repeat;
  animation: to-do-cloud-animate 40s infinite;
}
@keyframes to-do-cloud-animate {
  0%   {left: 100%;top: 30%;}
  50% {left: 20%;top: 30%;}
  100% {left: 100%;top: 30%;}
}
@keyframes animateh-cloud-r {
  0%   {left: 100%;top: -21%;}
  50% {left: 10%;top: -31%;}
  100% {left: 100%;top: -31%;}
}
@keyframes animateh-cloud-l {
  0%   {left: -50%;top: 70%;}
  50% {left: 100%;top: 60%;}
  100% {left: -100%;top: 60%;}
}
@keyframes animateh-cloud-r-mini {
  0%   {right: -50%;top: 10%;}
  50% {right: 50%;top: 20%;}
  100% {right: 100%;top: 20%;}
}
@keyframes animateh-cloud-l-mini {
  0%   {left: -10%;top: 60%;}
  50% {left: 100%;top: 50%;}
  100% {left: -10%;top: 50%;}
}




@keyframes fly_shot1 {
  0%   {left: 100%;top: -10%;}
  100% {left: -30%;top: 100%;}
}
@keyframes fly_shot2 {
  0%   {left: 70%;top: 30%;}
  100% {left: 10%;top: 60%;}
}
@keyframes fly_shot3 {
  0%   {left: 60%;top: 55%;}
  100% {left: 80%;top: 80%;}
}


.to-do-shooting-star-1{
  background-image: url("/assets/images/animations/Shooting Star 1.png");
  left: -100%;
  width: 400px;
  height: 400px;
  background-repeat: no-repeat;
  animation: fly_shot1 6s infinite;
}
.to-do-shooting-star-2{
  background-image: url("/assets/images/animations/Shooting Star 1.png");
  left: -100%;
  // top: 55%;
  width: 400px;
  height: 400px;
  background-repeat: no-repeat;
  animation:  fly_shot2  2s infinite;
}
.to-do-shooting-star-3{
  background-image: url("/assets/images/animations/Shooting Star 2.png");
  left: 28%;
  top: 70%;
  width: 350px;
  height: 350px;
  background-repeat: no-repeat;
  animation: fly_shot3 2s infinite;
}
.to-do-email1{
  background-color: transparent;
  top: 16%;
  left: 10%;
  position:absolute;
  z-index: 99;
  width: 80%;
  height: 8%;
  // border: 2px black solid;
}

.boat-one {
  background-image: url("/assets/images/animations/story stars.png");
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 476px;
  height: 548px;
  margin-left: -738px;
  transform-origin: bottom;
  -webkit-transform-origin: bottom;
  -webkit-animation: customrotate 10s infinite;
  animation: customrotate 10s infinite;
}
.boat-two {
  background-image: url("/assets/images/animations/boat2.png");
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 180px;
  height: 192px;
  margin-left: 249px;
  margin-top: 296px;
  transform-origin: bottom;
  -webkit-transform-origin: bottom;
  -webkit-animation: customrotate 15s infinite;
  animation: customrotate 15s infinite;

}
.boat-three {
  background-image: url("/assets/images/animations/boat3.png");
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 398px;
  height: 482px;
  margin-left: 482px;
  margin-top: -44px;
  transform-origin: bottom;
  -webkit-transform-origin: bottom;
  -webkit-animation: customrotate 7s infinite;
  animation: customrotate 7s infinite;
}
.pink-bird {
  background-image: url("/assets/images/animations/pink_bird.png");
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 122px;
  margin-left: 182px;
  margin-top: -351px;
  -webkit-animation: animatev 4s infinite;
  animation: animatev 4s infinite;
}
.bubble-1{
  background-image: url("/assets/images/animations/bubble1.png");
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 59px;
  height: 15px;
  margin-left: -115px;
  margin-top: 302px;
  -webkit-animation: animatescale 2s infinite;
  animation: animatescale 2s infinite;
}
.bubble-2{
  background-image: url("/assets/images/animations/bubble2.png");
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 45px;
  height: 45px;
  margin-left: 159px;
  margin-top: 244px;
  -webkit-animation: animatescale 4s infinite;
  animation: animatescale 4s infinite;
}
.bubble-3{
  background-image: url("/assets/images/animations/bubble3.png");
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 73px;
  height: 73px;
  margin-left: 249px;
  margin-top: 195px;
  -webkit-animation: animatescale 2s infinite;
  animation: animatescale 2s infinite;
}
.bubble-4{
  background-image: url("/assets/images/animations/bubble4.png");
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 63px;
  height: 62px;
  margin-left: 159px;
    margin-top: 60px;
  -webkit-animation: animatescale 2s infinite;
  animation: animatescale 2s infinite;
}
.bubble-5{
  background-image: url("/assets/images/animations/bubble5.png");
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 44px;
  height: 46px;
  margin-left: 108px;
  margin-top: -40px;
  -webkit-animation: animatescale 2s infinite;
  animation: animatescale 2s infinite;
}
.bubble-6{
  background-image: url("/assets/images/animations/bubble6.png");
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 63px;
  height: 62px;
  margin-left: 277px;
  margin-top: -2px;
  -webkit-animation: animatescale 4s infinite;
  animation: animatescale 4s infinite;
}
.bubble-7{
  background-image: url("/assets/images/animations/bubble7.png");
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 74px;
  height: 73px;
  margin-left: 363px;
    margin-top: -124px;
  -webkit-animation: animatescale 2s infinite;
  animation: animatescale 2s infinite;
}
.hotair-3{
  background-image: url("/assets/images/animations/hotair3.png");
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100px;
  height: 138px;
  margin-left: 261px;
  margin-top: -186px;
  -webkit-animation: animateh 12s infinite;
  animation: animateh 12s infinite;
}
.hotair-4{
  background-image: url("/assets/images/animations/hotair4.png");
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 166px;
  height: 231px;
  margin-left: -360px;
  margin-top: -323px;
  -webkit-animation: animateh 12s infinite;
  animation: animateh 12s infinite;
}
.hotair-1{
  background-image: url("/assets/images/animations/hotair1.png");
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1.3);
  transform: translate(-50%, -50%) scale(1.3);
  width: 136px;
  height: 141px;
  margin-left: 303px;
  margin-top: -128px;
  -webkit-animation: animateh 8s infinite;
  animation: animateh 8s infinite;
}
.hotair-2{
  background-image: url("/assets/images/animations/hotair2.png");
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1.3);
  transform: translate(-50%, -50%) scale(1.3);
  width: 108px;
  height: 193px;
  margin-left: -283px;
  margin-top: -432px;
  -webkit-animation: animateh 12s infinite;
  animation: animateh 12s infinite;
}
.beauty-1{
  background-image: url("/assets/images/animations/beauty_1.png");
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 467px;
  height: 293px;
  margin-left: 143px;
    margin-top: -310px;
  -webkit-animation: customrotate 12s infinite;
  animation: customrotate 12s infinite;
}
.beauty-2{
  background-image: url("/assets/images/animations/beauty_2.png");
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 433px;
  height: 205px;
  margin-left: -638px;
  margin-top: -332px;
  -webkit-animation: customrotate 10s infinite;
  animation: customrotate 10s infinite;
}
.beauty-3{
  background-image: url("/assets/images/animations/beauty_3.png");
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 131px;
  height: 108px;
  margin-left: 130px;
    margin-top: 133px;
  -webkit-animation: customrotate 15s infinite;
  animation: customrotate 15s infinite;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/*
Animations
*/
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.3;
  }
  20% {
    opacity: 0.5;
  }
  30% {
    opacity: 0.7;
  }
  40% {
    opacity: 0.9;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0.9;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.5;
  }
  90% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.3;
  }
  20% {
    opacity: 0.5;
  }
  30% {
    opacity: 0.7;
  }
  40% {
    opacity: 0.9;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0.9;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.5;
  }
  90% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeInInverted {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.9;
  }
  20% {
    opacity: 0.7;
  }
  30% {
    opacity: 0.5;
  }
  40% {
    opacity: 0.3;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 0.3;
  }
  70% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.7;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInInverted {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.9;
  }
  20% {
    opacity: 0.7;
  }
  30% {
    opacity: 0.5;
  }
  40% {
    opacity: 0.3;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 0.3;
  }
  70% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.7;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes customrotate {
  0% {
    -webkit-transform: rotate(13deg);
    transform: rotate(13deg);
  }
  50% {
    -webkit-transform: rotate(-13deg);
    transform: rotate(-13deg);
  }
  100% {
    -webkit-transform: rotate(13deg);
    transform: rotate(13deg);
  }
}

@keyframes customrotate {
  0% {
    -webkit-transform: rotate(13deg);
    transform: rotate(13deg);
  }
  50% {
    -webkit-transform: rotate(-13deg);
    transform: rotate(-13deg);
  }
  100% {
    -webkit-transform: rotate(13deg);
    transform: rotate(13deg);
  }
}
@-webkit-keyframes animatev {
  0% {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  50% {
    -webkit-transform: translateY(-75%);
    transform: translateY(-75%);
  }
  100% {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

@keyframes animatev {
  0% {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  50% {
    -webkit-transform: translateY(-75%);
    transform: translateY(-75%);
  }
  100% {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

@-webkit-keyframes animatev_r {
  0% {
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
  }
  50% {
    -webkit-transform: translateY(75%);
    transform: translateY(75%);
  }
  100% {
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
  }
}

@keyframes animatev_r {
  0% {
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
  }
  50% {
    -webkit-transform: translateY(75%);
    transform: translateY(75%);
  }
  100% {
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
  }
}

@-webkit-keyframes animaten {
  0% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  50% {
    -webkit-transform: translateX(-75%);
    transform: translateX(-75%);
  }
  100% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

@keyframes animateh {
  0% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  50% {
    -webkit-transform: translateX(-75%);
    transform: translateX(-75%);
  }
  100% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
@keyframes animateh_r {
  0% {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
  }
  50% {
    -webkit-transform: translateX(75%);
    transform: translateX(75%);
  }
  100% {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
  }
}

@-webkit-keyframes animatescale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes animatescale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
